@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="pageView">
    <h3>Organise meeting</h3>
    <div class="sectionBox">
        <div class="section">
            <h1>Professor: @ViewData["staff"]</h1>
            <form class="Meeting" asp-controller="Home" asp-action="SaveMeeting">
                <br /><input type="number" placeholder="Day" name="day"><br />
                <br /><input type="number" placeholder="Month" name="month" /><br />
                <br /><input type="number" placeholder="Hour" name="hour" /><br />
                <br /><input type="number" placeholder="Minute" name="minute" /><br />
                <br /><input type="hidden" value="@ViewData["staff"]" name="staff" />
                <br /><button class="meetingButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>



