@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Person> ppl = DataManager.data;
}

<div class="pageView">
    <h3>New Messages</h3>
    <div class="sectionBox">
        <div class="section">
            <p>Staff members:</p>
            @foreach (Person p in ppl)
            {
                if (p.Title == "Professor")
                {
                    <br />@p.Name
                }
            }
            <br />
            <form asp-controller="Home" asp-action="CreateMsg">
                <input type="text" name="staff" placeholder="Enter staff" />
                <input type="text" name="msg" placeholder="Enter message" />
                <button class="meetingButton" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>