@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="pageView">
    <h1>Register</h1>
    <div class="sectionBox">
        <div class="section">
            <form asp-controller="Home" asp-action="SignUpUser">
                <br /><input type="text" name="username" placeholder="Username"><br />
                <br /><input type="text" name="firstname" placeholder="Firstname"><br />
                <br /><input type="text" name="lastname" placeholder="Lastname"><br />
                <br /><input type="text" name="emil" placeholder="email address"><br />
                <br /><input type="text" name="password" placeholder="Password">
                <br /><button type="submit">Sign Up</button>

            </form>
        </div>
    </div>
</div>