@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Home" asp-action="SignUpUser">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="firstname" placeholder="Firstname">
    <input type="text" name="lastname" placeholder="Lastname">
    <input type="text" name="emil" placeholder="email address">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Login</button>

</form>