html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.textBox {
    position: absolute;
    width: 600px;
    display: inline-block;
    margin: auto;
    left: 50%;
    margin-left: -350px;
}


.sectionBox {
    width: 600px;
    margin: auto;
    font-family: sans-serif;
    display: inline-block;
    background: #DBDFEA;
    color: black;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.section {
    text-align: cente
}

.section h3{
    padding-top: 20px;
    text-align: left
}

.section p {
    max-width: 400px;
    margin: 10px;
    text-align: left;
    
}

.meetingButton {
    background-color: #474747;
    color: burlywood;
    border-radius: 3px;
}


Header {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-right:100px
}

.Header h1 {
    display: inline-block;
    margin-left: 10px;
}

.HeaderButton {
    display: inline-flex;
    background-color: #dfd9d9;
    border-radius: 5px;
    text-align:center;
    padding: 3px;
    margin-left: 10px
}

.home{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.buttons{
    display: block;
    margin-right: auto;
    maring-left: auto;
    text-align: center;
}

.HomeButton {
    background-color: #dfd9d9;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    display: inline-block;
    word-wrap: normal;
    width: 100px;
    height: 100px;
    text-align:left;
}

.HomeBackground {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: 50%;
    opacity: 0.4;
}


form{
    margin: auto;
    display:table;
    text-align: center;
    align-content: center;
}

.FormItem{
    padding:10px;
    font-size:25px;
}


.pageView{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}